.mainPromptStyle {
  background-color: #2b2b2b;
}

.ai {
  color: rgb(126, 231, 255);
}

.usr {
  color: rgb(139, 255, 139);
}

code {
  padding-right: 200px;
  background-color: #292929;
  color: rgb(132, 132, 132);
  line-height: 0;
}

#submitBtn {
  background-color: #0e8388;
  color: #cbe4de;
  font-family: Arial, sans-serif;
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-top: 10px;
}

#submitBtn:hover {
  background-color: #cbe4de;
  color: #0e8388;
  box-shadow: 0 0 5px #cbe4de;
}
.main {
  background-color: rgb(88, 88, 88);
}
